/zstd
node_modules
packages/zstd-wasm-decoder/src/build

*.dll
*.so
*.so.*
*.dylib
*.framework
*.xcframework
*.exe
*.out
*.app
.clang_complete
.clang-format
.directory
*.idea
*.swp
.DS_Store
*.d
*.vscode
*.code-workspace
.clangd
.env