node_modules

*.tgz
*.js.map
*.d.ts.map
/packages/zstd-wasm-decoder/build
/packages/zstd-wasm-decoder/src/_esm
/packages/zstd-wasm-decoder/src/_types
/tests/benchmark/compressed/*.zst
/tests/data/*.json

*.dll
*.so
*.so.*
*.dylib
*.framework
*.xcframework
*.exe
*.out
*.app
.clang_complete
.clang-format
.directory
*.idea
*.swp
.DS_Store
*.d
*.vscode
*.code-workspace
.clangd
.env