node_modules

*.tgz
*.js.map
*.d.ts.map
/packages/zstd-wasm-decoder/build
/packages/zstd-wasm-decoder/src/_esm
/packages/zstd-wasm-decoder/src/_types
/packages/zstd-wasm-decoder/src/_types
/packages/zstd-wasm-decoder/src/README.md
/packages/zstd-wasm-decoder/src/LICENSE
/tests/benchmark/compressed/*.zst
/tests/benchmark/compressed/*.json
/tests/data/*.json
/test/benchmark/compressed/*.zst
/test/benchmark/compressed/*.json
/test/data/*.json
/archive
*.dll
*.so
*.so.*
*.dylib
*.framework
*.xcframework
*.exe
*.out
*.app
.clang_complete
.clang-format
.directory
*.idea
*.swp
.DS_Store
*.d
*.vscode
*.code-workspace
.clangd
.env